@import "../../Themes/EleksCookiesTheme/Content/style/style.css";
@import "../../Themes/EleksCookiesTheme/Content/style/customization_style.css";
@import "../../Themes/EleksCookiesTheme/Content/style/responsive.css";

body{
  padding: 0px !important;
  margin-left:-10px ;
}


.mceButton {display:inline; border:1px solid #F0F0EE; width:20px; height:20px; margin-right:1px}
.mce_image {background-position:-380px 0}
.mce_link {background-position:-500px 0}
.mceContentBody
{
      margin:0px;
      padding: 0px;
}

body .mceContentBody {
  padding: 0px ;

}

body{
  padding: 0px !important;

}

.template-hover {
 border:2px solid red;
}