@model SumkaWeb.Models.HomeModel
@{
    ViewBag.Title = "Sumka Portal";
}
<div class="container">
 <div class="row">
      

        @foreach (var item in Model.Stores) {
    
            @Html.DisplayTextFor(modelItem => item.HtmlBanner)
       
         }
      
   </div>
   </div>
